In [ ]:
import pandas as pd
import numpy as np

In [ ]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
movies = pd.read_csv('http://bit.ly/imdbratings')
orders = pd.read_csv('http://bit.ly/chiporders', sep='\t')
orders['item_price'] = orders.item_price.str.replace('$', '').astype('float')
stocks = pd.read_csv('http://bit.ly/smallstocks', parse_dates=['Date'])
titanic = pd.read_csv('http://bit.ly/kaggletrain')
ufo = pd.read_csv('http://bit.ly/uforeports', parse_dates=['Time'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.

###1. 버젼 확인
사용중인 판다스 버젼 확인

In [ ]:
pd.__version__

NameError: ignored

판다스의 종속성 또한 알고 싶을 때 show_version()함수 사용

In [ ]:
pd.show_versions()

###2. 데이터프레임 생성
pd.DataFrame()

**사전 형식의 데이터 프레임 생성**
- 사전의 키 는 열의 이름, 값은 행의 값 됨

In [ ]:
df = pd.DataFrame({'a':[12, 34], 'b':[56, 78]})
df

    a   b
0  12  56
1  34  78

**넘파이의 random.rand(행, 열)함수 사용**
- np.random.rand(행, 열) 함수는 0~1사이의 균일분포 난수를 행렬로 만들어줌
- DataFrame의 columns 사용 시 열의 이름/ index 사용 시 행의 이름 지정 가능
  - 대신 크기가 같아야됨

In [ ]:
pd.DataFrame(np.random.rand(4,6)) #4행 6열 데이터 프레임 생성

          0         1         2         3         4         5
0  0.812772  0.929042  0.134829  0.195527  0.719760  0.830394
1  0.777568  0.725044  0.327249  0.979223  0.291657  0.143900
2  0.002897  0.623643  0.964935  0.078747  0.698520  0.332097
3  0.624716  0.575980  0.834808  0.506786  0.452938  0.357034

In [ ]:
pd.DataFrame(np.random.rand(4,6), columns = list('qwerty'))

          q         w         e         r         t         y
0  0.303221  0.713220  0.851668  0.097152  0.015224  0.874988
1  0.760838  0.410236  0.297084  0.525325  0.393826  0.503359
2  0.488700  0.180708  0.747369  0.613069  0.528564  0.172657
3  0.463934  0.258181  0.336083  0.094773  0.551873  0.108533

### 3. 열 이름 바꾸기

In [ ]:
df # 위에서 생성한 df

    a   b
0  12  56
1  34  78

**df.rename()**

 열의 이름을 지정해서 변경

In [ ]:
df = df.rename({'a': 'aa', 'b':'bb'}, axis = 'columns')
df

   aa  bb
0  12  56
1  34  78

**df.columns()**

이름 지정
- 문자열 replace 사용 가능

In [ ]:
df.columns = ['a_a_a','b_b_b']
df

   a_a_a  b_b_b
0     12     56
1     34     78

In [ ]:
df.columns = df.columns.str.replace('_',' ')
df

   a a a  b b b
0     12     56
1     34     78

**df.add_prefix()와 df.add_suffix()**
- add_prefix 는 열 이름 전체 앞에 붙여줌
- add_suffix 는 열 이름 전체 뒤에 붙여줌

In [ ]:
df.add_prefix('Front_')

   Front_a a a  Front_b b b
0           12           56
1           34           78

In [ ]:
df.add_suffix('_Back')

   a a a_Back  b b b_Back
0          12          56
1          34          78

###4. 행 거꾸로 하기

**df.loc[::-1]**
- loc[] 은 대괄호 안 인덱스가 들어감 : 행/열 조회 시 사용
- reset_index(drop_true) 사용시 거꾸로된 행의 번호를 0부터 다시 시작
- head(숫자)는 처음~숫자 만큼의 행 보여줌, 숫자 지정 안할 시 5

In [ ]:
a = pd.DataFrame(np.random.rand(10,5))
a

          0         1         2         3         4
0  0.576614  0.305691  0.692918  0.123336  0.660853
1  0.875825  0.761846  0.566006  0.103343  0.349554
2  0.879070  0.086660  0.509366  0.604470  0.405974
3  0.279542  0.668241  0.921802  0.996441  0.015915
4  0.878099  0.733583  0.173291  0.377659  0.770371
5  0.745577  0.950057  0.087612  0.326064  0.725094
6  0.684213  0.141059  0.925923  0.510560  0.167943
7  0.593774  0.884200  0.827441  0.219754  0.003822
8  0.937573  0.440384  0.842599  0.331078  0.172292
9  0.123511  0.680029  0.075033  0.419546  0.105477

In [ ]:
a.loc[::-1]

          0         1         2         3         4
9  0.123511  0.680029  0.075033  0.419546  0.105477
8  0.937573  0.440384  0.842599  0.331078  0.172292
7  0.593774  0.884200  0.827441  0.219754  0.003822
6  0.684213  0.141059  0.925923  0.510560  0.167943
5  0.745577  0.950057  0.087612  0.326064  0.725094
4  0.878099  0.733583  0.173291  0.377659  0.770371
3  0.279542  0.668241  0.921802  0.996441  0.015915
2  0.879070  0.086660  0.509366  0.604470  0.405974
1  0.875825  0.761846  0.566006  0.103343  0.349554
0  0.576614  0.305691  0.692918  0.123336  0.660853

In [ ]:
a.loc[::-1].reset_index(drop=True).head()

          0         1         2         3         4
0  0.123511  0.680029  0.075033  0.419546  0.105477
1  0.937573  0.440384  0.842599  0.331078  0.172292
2  0.593774  0.884200  0.827441  0.219754  0.003822
3  0.684213  0.141059  0.925923  0.510560  0.167943
4  0.745577  0.950057  0.087612  0.326064  0.725094

###5. 열 거꾸로 하기

**df.loc[:, ::-1]**

위의 행 거꾸로 하기와 별다를게 없음

In [ ]:
a.loc[:,::-1]

          4         3         2         1         0
0  0.660853  0.123336  0.692918  0.305691  0.576614
1  0.349554  0.103343  0.566006  0.761846  0.875825
2  0.405974  0.604470  0.509366  0.086660  0.879070
3  0.015915  0.996441  0.921802  0.668241  0.279542
4  0.770371  0.377659  0.173291  0.733583  0.878099
5  0.725094  0.326064  0.087612  0.950057  0.745577
6  0.167943  0.510560  0.925923  0.141059  0.684213
7  0.003822  0.219754  0.827441  0.884200  0.593774
8  0.172292  0.331078  0.842599  0.440384  0.937573
9  0.105477  0.419546  0.075033  0.680029  0.123511

###6. 데이터 타입으로 열 선택

**select_dtypes(include/exclude ='옵션')**

- include : 옵션이 들어간 열 선택 해줌
- exvlude : 옵션이 들어간 열을 제외 해줌

In [ ]:
select_d = pd.DataFrame({'int':[1,2,3], 'float':[1.1,2.2,3.3], 'object': ['a','b','c']})
select_d

   int  float object
0    1    1.1      a
1    2    2.2      b
2    3    3.3      c

In [ ]:
select_d.dtypes #각 열별 데이터 타입 확인

int         int64
float     float64
object     object
dtype: object

In [ ]:
select_d.select_dtypes(include='number')

   int  float
0    1    1.1
1    2    2.2
2    3    3.3

In [ ]:
select_d.select_dtypes(exclude = 'number')

  object
0      a
1      b
2      c

###7. 문자열을 숫자로 바꾸기

In [ ]:
df2 = pd.DataFrame({'col_one':['1.1', '2.2', '3.3'],
                   'col_two':['4.4', '5.5', '6.6'],
                   'col_three':['7.7', '8.8', '-']})
df2 #문자형 숫자값이 들어간 데이터프레임 생성

  col_one col_two col_three
0     1.1     4.4       7.7
1     2.2     5.5       8.8
2     3.3     6.6         -

In [ ]:
df2.dtypes

col_one      object
col_two      object
col_three    object
dtype: object

- df2.astype() : 열 지정 해서 타입 바꿔줌
- pd.to_numeric() : 열 지정 후 숫자로 못바꾸는 문자가 있는 곳에 에러 지정 가능
  - errors = 'corece' : 강제로 못바꾸는 것을 NaN으로 변경
  - fillna(숫자) : nan 값을 숫자로 바꿔줌
- df.apply() : 적용하기

In [ ]:
df2.astype({'col_one':'float', 'col_two':'float'}).dtypes

col_one      float64
col_two      float64
col_three     object
dtype: object

In [ ]:
df2.astype({'col_three':'float'}) #이 친구는 숫자가 아닌 문자는 숫자로 못바꿔줌

ValueError: ignored

In [ ]:
pd.to_numeric(df2.col_three, errors='coerce')

0    7.7
1    8.8
2    NaN
Name: col_three, dtype: float64

In [ ]:
pd.to_numeric(df2.col_three, errors='coerce').fillna(0)

0    7.7
1    8.8
2    0.0
Name: col_three, dtype: float64

In [ ]:
df2 = df2.apply(pd.to_numeric, errors='coerce').fillna(0)
df2

   col_one  col_two  col_three
0      1.1      4.4        7.7
1      2.2      5.5        8.8
2      3.3      6.6        0.0

In [ ]:
df2.dtypes

col_one      float64
col_two      float64
col_three    float64
dtype: object

###8. 데이터 프레임 사이즈 줄이기

info()로 메모리 확인

In [ ]:
select_d.info(memory_usage='deep') #6번의 select_d 메모리 크기 350바이트

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   int     3 non-null      int64
 1   float   3 non-null      float64
 2   object  3 non-null      object
dtypes: float64(1), int64(1), object(1)
memory usage: 350.0 bytes

**pd.read_csv(usecols)**
- usecols파라미터를 사용해서 실제로 사용할 열만 불러 들이는 것

1. 필요한 컬럼만 불러오기


```
cols = ['열 이름', '열이름']
small_drinks = pd.read_csv('데이터 주소 또는 .csv확장자 파일', usecols=cols)
small_drinks.info(memory_usage='deep')
```

2. 오브젝트 타입 열을 카테고리 타입으로 변경


```
dtypes = {'continent':'category'}
smaller_drinks = pd.read_csv('http://bit.ly/drinksbycountry', usecols=cols, dtype=dtypes)
smaller_drinks.info(memory_usage='deep')
```

### 9.여러개 파일의 데이터프레임 하나로 만들기(행)

**pd.concat()**

데이터 프레임을 붙일 수 있음
- **from glob import glob**의 glob는 특정 파일을 출력 하는 것이다. 
- golb의 와일드 카드는 특정 기호에 해당하는 것이다. ex) * : 모든 문자

In [ ]:
from glob import glob
#pd.read_csv('data/stocks1.csv')
#pd.read_csv('data/stocks2.csv')
#pd.read_csv('data/stocks3.csv') #data/stock파일 1,2,3 불러오기
#파일을 다운 받지 않고 제가 위에 있는 df df2를 만들어서 하였습니다.

In [ ]:
pd.concat((df,df2)) #데이터 프레임 df, df2 붙이기

     aa    bb col_one col_two col_three
0  12.0  56.0     NaN     NaN       NaN
1  34.0  78.0     NaN     NaN       NaN
0   NaN   NaN     1.1     4.4       7.7
1   NaN   NaN     2.2     5.5       8.8
2   NaN   NaN     3.3     6.6         -

### 10.여러개 파일의 데이터프레임 하나로 만들기(열)

pd.concat에 파라미터 axis='columns를 쓰면 열로 추가해줌

In [ ]:
pd.concat((df,df2), axis='columns')

     aa    bb col_one col_two col_three
0  12.0  56.0     1.1     4.4       7.7
1  34.0  78.0     2.2     5.5       8.8
2   NaN   NaN     3.3     6.6         -

###11. 클립보드로 데이터프레임 만들기

In [ ]:
df = pd.DataFrame([[1, 2], [3, 5], [5, 9]], columns=['A', 'B'])
df

   A  B
0  1  2
1  3  5
2  5  9

위 나오는 그림에서 

```
	A	B
0	1	2
1	3	5
2	5	9
```
부분을 드래그 후 Ctrl+c 해서 복사 해야지만 read_clipboard() 사용가능

- 클립보드를 불러들이는 것이어여 그런듯 함

In [ ]:
af = pd.read_clipboard()
af #왜 작동 안하는지 모르겠습니다.

PyperclipException: ignored

### 12. 데이터 프레임 하위의 2개로 쪼개기

In [ ]:
len(movies)

979

In [ ]:
mov1 = movies.sample(frac= 0.75, random_state=1234)
# 랜덤으로 75퍼의 무비의 샘플 채취

drop()은 삭제 하는 함수, axis= columns/row 사용 시 열/행 삭제

index =  인덱스의 값들 삭제

In [ ]:
mov2 = movies.drop(mov1.index) #mov1의 인덱스 삭제

In [ ]:
len(mov1)+len(mov2) #따라서 mov1과 mov2의 길이를 더할시 값이 movies와 같음

979

In [ ]:
mov1.index.sort_values()

Int64Index([  0,   2,   5,   6,   7,   8,   9,  11,  13,  16,
            ...
            966, 967, 969, 971, 972, 974, 975, 976, 977, 978],
           dtype='int64', length=734)

In [ ]:
mov2.index.sort_values()

Int64Index([  1,   3,   4,  10,  12,  14,  15,  18,  26,  30,
            ...
            931, 934, 937, 941, 950, 954, 960, 968, 970, 973],
           dtype='int64', length=245)

### 13. 데이터프레임을 여러개의 카테고리로 필터링 하기

In [ ]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

**unique()**

유일한 값 찾기

moveis.열이름.unique() 사용시 열에 해당하는 값의 중복 제외 하나씩 출력

In [ ]:
movies.genre.unique()

array(['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy'], dtype=object)

movies의 데이터 프레임중 장르가 action,drama,wester인 것들을 or을 사용하여 필터링

In [ ]:
movies[(movies.genre == 'Action') |
       (movies.genre == 'Drama') |
       (movies.genre == 'Western')].head()

,star_rating,title,content_rating,genre,duration,actors_list
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."

isin()은 값들을 포함한 것들을 골라내줌
- ~사용시 not과 같은 의미

In [ ]:
movies[movies.genre.isin(['Action', 'Drama', 'Western'])].head()

,star_rating,title,content_rating,genre,duration,actors_list
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."

In [ ]:
movies[~movies.genre.isin(['Action', 'Drama', 'Western'])].head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."

### 14. 데이터를 값이 많은 순으로 필터링 하기

**dataframe.열 이름.value_counts()**
- 열 이름의 같은 값이 많은 순서대로 정렬

**.nlargest(숫자)**
- 숫자만큼 값이 큰 순서대로 보여줌

**.index**
- 인덱스 반환

In [ ]:
counts = movies.genre.value_counts()
counts

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Sci-Fi         5
Thriller       5
Film-Noir      3
Family         2
History        1
Fantasy        1
Name: genre, dtype: int64

In [ ]:
counts.nlargest(5)

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Name: genre, dtype: int64

In [ ]:
movies[movies.genre.isin(counts.nlargest(3).index)].head()

,star_rating,title,content_rating,genre,duration,actors_list
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."

### 15. 결측값 다루기

**dataframe.isna()**
- isna()는 결측값을 확인하여 true/false로 반환
- na, none, nan은 true 나머지는 false

In [ ]:
ufo.isna().sum() #ufo 데이터프레임의 true값 갯수 더하기

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [ ]:
ufo.isna().mean()#ufo 데이터프레임의 true의 평균

City               0.001371
Colors Reported    0.842004
Shape Reported     0.144948
State              0.000000
Time               0.000000
dtype: float64

**dataframe.dropna(thresh =숫자, axis='columns/rows')**
- axis = 축에 결측값이 있을 경우 그 열/행 을 삭제
- thresh= 숫자: 숫자의 갯수 만큼 결측치가 있는 것 삭제

In [ ]:
ufo.dropna(axis='rows').head()

          City Colors Reported Shape Reported State                Time
12      Belton             RED         SPHERE    SC 1939-06-30 20:00:00
19  Bering Sea             RED          OTHER    AK 1943-04-30 23:00:00
36  Portsmouth             RED      FORMATION    VA 1945-07-10 01:30:00
44   Blairsden           GREEN         SPHERE    CA 1946-06-30 19:00:00
82    San Jose            BLUE        CHEVRON    CA 1947-07-15 21:00:00

In [ ]:
ufo.dropna(axis='columns').head()

  State                Time
0    NY 1930-06-01 22:00:00
1    NJ 1930-06-30 20:00:00
2    CO 1931-02-15 14:00:00
3    KS 1931-06-01 13:00:00
4    NY 1933-04-18 19:00:00

In [ ]:
ufo.dropna(thresh=len(ufo)*0.9, axis='columns').head()
#열 길이의 10% 만큼이 결측치면 그 열 삭제

                   City State                Time
0                Ithaca    NY 1930-06-01 22:00:00
1           Willingboro    NJ 1930-06-30 20:00:00
2               Holyoke    CO 1931-02-15 14:00:00
3               Abilene    KS 1931-06-01 13:00:00
4  New York Worlds Fair    NY 1933-04-18 19:00:00

### 16. 문자열을 여러개의 열로 쪼개기

In [ ]:
df = pd.DataFrame({'name':['John Arthur Doe', 'Jane Ann Smith'],
                   'location':['Los Angeles, CA', 'Washington, DC']})
df

              name         location
0  John Arthur Doe  Los Angeles, CA
1   Jane Ann Smith   Washington, DC

**dataframe.열이름.str.split(' ')**
- split안 문자로 구별해 줌
- expand 사용시 바로 데이터프레임으로 만들어줌

In [ ]:
df.name.str.split(' ')

0    [John, Arthur, Doe]
1     [Jane, Ann, Smith]
Name: name, dtype: object

In [ ]:
df.name.str.split(' ',expand=True)

      0       1      2
0  John  Arthur    Doe
1  Jane     Ann  Smith

In [ ]:
df[['first', 'middle', 'last']] = df.name.str.split(' ', expand=True)
df #열 이름을 바로 정해 줄수 있음

              name         location first  middle   last
0  John Arthur Doe  Los Angeles, CA  John  Arthur    Doe
1   Jane Ann Smith   Washington, DC  Jane     Ann  Smith

###17. 리스트로 되있는 데이터 값 확장시키기

In [ ]:
df = pd.DataFrame({'col_one':['a', 'b', 'c'], 'col_two':[[10, 40], [20, 50], [30, 60]]})
df

  col_one   col_two
0       a  [10, 40]
1       b  [20, 50]
2       c  [30, 60]

pd.Series() : 시리즈 생성(테이블 없는 데이터프레임이라 생각 시 편함), 1차원 밖에 안됨

series가 쪼개준 col_two 리스트를 apply로 행/열로 정리 해줌.

In [ ]:
df_new = df.col_two.apply(pd.Series)
df_new

    0   1
0  10  40
1  20  50
2  30  60

pd.concat()사용하여 두개 붙여줌

In [ ]:
pd.concat([df, df_new], axis='columns')

  col_one   col_two   0   1
0       a  [10, 40]  10  40
1       b  [20, 50]  20  50
2       c  [30, 60]  30  60

###18. 여러개의 함수 기능 사용

In [ ]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

orders의 order_id열의 값이 1인 것들의 item_price값들 더하기

In [ ]:
orders[orders.order_id == 1].item_price.sum()

11.56

**dataframe.groupby(' ')**
- 작은 따옴표 안, 열 이름의 같은 값을 하나로 묶어 통계/집계를 낼때 사용

**.agg()**
- agg()메서드는 괄호 안 함수들을 한번에 쓸 수 있다.
- 즉 여러개의 함수 한번에 사용 가능

In [ ]:
orders.groupby('order_id').item_price.agg(['sum', 'count']).head()
#order_id의 같은 값 하나로 묶고 그 값들의 합, 갯수 데이터 프레임으로 보여줌

            sum  count
order_id
1         11.56      4
2         16.98      1
3         12.67      2
4         21.00      2
5         13.70      2

### 19. 데이터 프레임에 여러개의 함수를 적용한 출력 합치기

In [ ]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [ ]:
orders.groupby('order_id').item_price.sum().head()
#groupby로 order_id의 같은 값 하나로 묶고
#item_price열의 값 더해서 5개만 출력

order_id
1    11.56
2    16.98
3    12.67
4    21.00
5    13.70
Name: item_price, dtype: float64

In [ ]:
len(orders.groupby('order_id').item_price.sum())
#위의 것을 묶고 나온 값의 길이

1834

In [ ]:
len(orders.item_price) #묶지 않고 길이 출력 했을 시

4622

**.transform()**
- transform 메서드 사용 시 gropby로 같은 값이 합쳐졌어도 원래의 각 요소별로 적용
- 기존의 것에서 새로운 것을 추출 함으로 길이 변화 없음

In [ ]:
total_price = orders.groupby('order_id').item_price.transform('sum')
#groupby로 같은 값을 묶었어도 transform으로 sum함수 사용 시 길이 변경 없음
len(total_price)

4622

In [ ]:
orders['total_price'] = total_price
#orders 데이터프레임에 위에서 구한 total_price붙여주기
orders.head()

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,11.56
1,1,1,Izze,[Clementine],3.39,11.56
2,1,1,Nantucket Nectar,[Apple],3.39,11.56
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,11.56
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,16.98

### 20. 잘린 행과 열 선택하기

In [ ]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**dataframe.describe()**
- 다양한 통계량을 바로 보여준다

In [ ]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
titanic.describe().loc['min':'max']
#통계량의 행 min~max까지 보기

     PassengerId  Survived  Pclass     Age  SibSp  Parch      Fare
min          1.0       0.0     1.0   0.420    0.0    0.0    0.0000
25%        223.5       0.0     2.0  20.125    0.0    0.0    7.9104
50%        446.0       0.0     3.0  28.000    0.0    0.0   14.4542
75%        668.5       1.0     3.0  38.000    1.0    0.0   31.0000
max        891.0       1.0     3.0  80.000    8.0    6.0  512.3292

In [ ]:
titanic.describe().loc['min':'max', ('Age','Parch')]
#통계량의 행 min~max 열 age parch만 보기

        Age  Parch
min   0.420    0.0
25%  20.125    0.0
50%  28.000    0.0
75%  38.000    0.0
max  80.000    6.0

### 21. 데이터 시리즈 재구조화

In [ ]:
titanic.groupby(['Sex','Pclass']).Survived.mean()
#타이타닉 성별,pclass을 묶고 묶인 것들의 생존자 평균이 시리즈 형태로 나타남

Sex     Pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: Survived, dtype: float64

**.stack()/unstack()**
- stack() : 멀티 인덱스 형태의 데이터를 위에서 아래로 재구조화 (행)
- unstack() : 멀티 인덱스 형태의 데이터를 왼쪽에서 오른쪽으로 재구조화 (열)

In [ ]:
titanic.groupby(['Sex', 'Pclass']).Survived.mean().unstack()

Pclass         1         2         3
Sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

### 22. 피벗 테이블 만들기

**dataframe.pivot_table()**

각 파라미터의 = 뒤에 리스트형태도 들어갈 수 있음.
- index = 행에 들어갈 열
- columns = 열에 들어갈 열
- values = 값에 들어갈 열
- aggfunc = 데이터 집계함수
- margins = True : 모든 데이터 분석 결과를 뒤에 붙이기

In [ ]:
titanic.pivot_table(index='Sex', columns='Pclass', values='Survived', aggfunc=['mean','count'],
                    margins=True)

            mean                               count
Pclass         1         2         3       All     1    2    3  All
Sex
female  0.968085  0.921053  0.500000  0.742038    94   76  144  314
male    0.368852  0.157407  0.135447  0.188908   122  108  347  577
All     0.629630  0.472826  0.242363  0.383838   216  184  491  891

### 23. 연속적 데이터를 범주형 데이터로 변환

In [ ]:
titanic.Age.head(10)

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

**pd.cut()**
- bins = 구간 나누기
- labels = 나눈 구간의 이름 설정

In [ ]:
pd.cut(titanic.Age, bins=[0, 18, 25, 99], labels=['child', 'young adult', 'adult']).head(10)

0    young adult
1          adult
2          adult
3          adult
4          adult
5            NaN
6          adult
7          child
8          adult
9          child
Name: Age, dtype: category
Categories (3, object): ['child' < 'young adult' < 'adult']

### 24. 디스플레이 옵션 바꾸기

In [ ]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

- set_option으로 디스플레이 설정
- reset_potion으로 설정한 디스플레이 옵션 리셋

In [ ]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [ ]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.28,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.92,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.10,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.05,NaN,S

In [ ]:
pd.reset_option('display.float_format')

###25. 데이터프레임 스타일링 해주기

In [ ]:
stocks

        Date   Close    Volume Symbol
0 2016-10-03   31.50  14070500   CSCO
1 2016-10-03  112.52  21701800   AAPL
2 2016-10-03   57.42  19189500   MSFT
3 2016-10-04  113.00  29736800   AAPL
4 2016-10-04   57.24  20085900   MSFT
5 2016-10-04   31.35  18460400   CSCO
6 2016-10-05   57.64  16726400   MSFT
7 2016-10-05   31.59  11808600   CSCO
8 2016-10-05  113.05  21453100   AAPL

**style.format()**

데이터 프레임 스타일을 바꾸어 줄 수 있다.

In [ ]:
(stocks.style.format({'Date':'{:%m/%d/%y}', 'Close':'${:.2f}', 'Volume':'{:,}'})).hide_index().highlight_min('Close', color='red').highlight_max('Close', color='lightgreen')